@font-face {
  font-family: 'Sofia Pro';
  font-style: normal;
  font-weight: 300;
  src: url('https://cdn.jsdelivr.net/gh/Kovalchik8/Sofia-Pro@main/SofiaPro-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Sofia Pro';
  font-style: normal;
  font-weight: 800;
 src: url('https://cdn.jsdelivr.net/gh/Kovalchik8/Sofia-Pro@main/SofiaPro-Bold.otf') format('opentype');
}
